@{
    ViewData["Title"] = "Listagem de Membros";
}

<div class="text-center">

    <div class="d-grip gap-2 d-md-flex justify-content-">
        <a class="btn btn-primary" role="button" asp-controller="Membro" asp-action="Criar">Adicionar novo membro</a>

    </div>


    <h1 class="display-4">Listagem de Membros</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Nº</th>
                <th scope="col">Nome</th>
                <th scope="col">Número de Rol</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Diego Oliveira</td>
                <td>88001122</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary">Editar</a>
                        <a role="button" class="btn btn-primary">Detalhes</a>
                        <a role="button" class="btn btn-primary">Excluir</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Júnior Cavalcante</td>
                <td>77339944</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary">Editar</a>
                        <a role="button" class="btn btn-primary">Detalhes</a>
                        <a role="button" class="btn btn-primary">Excluir</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Jessé Alves</td>
                <td>22334499</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary">Editar</a>
                        <a role="button" class="btn btn-primary">Detalhes</a>
                        <a role="button" class="btn btn-primary">Excluir</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>